<div>
  <mat-card class="container">
    <mat-card style="background-color: #e2e8e2; padding: 20px;">
      <h1>Child Information Directory</h1>
      <button mat-raised-button color="primary"  class="createbutton" (click)="openDialog()">Create New User</button>
    </mat-card>
    
    <div class="grid">
      <mat-card class="card" *ngFor="let user of usersData">
        <div class="card-content" (click)="GetRelations(user.name,user.id)">
          <p>{{ user.name }}</p>
          <img [src]="'data:image/png;base64,' + user.userImage" [alt]="user.name" class="user-image" />
      </div>
    </mat-card>
  </div>
</mat-card>
</div>
