<!-- profile-header.component.html -->
<ng-container *ngIf="currentUser">
  <mat-card style="margin:5px;">
  <div class="profile-header">
    <div class="profile-image">
      <img mat-card-avatar [src]="'data:image/png;base64,'+ currentUser.userImage" alt="Alina Hug" />
    </div>
    <div class="profile-info"><h2>{{currentUser.name}}  <mat-icon style="cursor: pointer;" (click)="openDialog()">edit</mat-icon></h2>
      <div class="address">
        <mat-icon>place</mat-icon><p>{{currentUser.street}} {{currentUser.city}}<br />{{currentUser.pincode}}</p>
      </div>
      <div class="location-link">
        <mat-icon>my_location</mat-icon>
        <a href="https://www.google.com/maps" target="_blank" mat-button color="primary">Open in Google Maps</a>
      </div>
    </div>    
    <div class="profile-details">
      <p>
        <mat-icon>flag</mat-icon>
        <strong>Nationality:</strong> {{currentUser.nationality}}
      </p>
      <p>
        <mat-icon>language</mat-icon>
        <strong>Language:</strong> {{currentUser.language}}
      </p>
      <p>
        <mat-icon>calendar_today</mat-icon>
        <strong>Date of Birth:</strong> {{currentUser.dateOfBirth}}
      </p>
    </div>    
  </div>

  </mat-card>
</ng-container>
